MONGODB_URI=mongodb://127.0.0.1:27017/shishu-microgreens
NEXT_PUBLIC_BRAND_NAME=Shishu Microgreens
ADMIN_EMAIL=admin@shishumicrogreens.com
ADMIN_PASSWORD=admin123
ADMIN_SESSION_SECRET=change_this_secret
